html,
body {
  background: #efefef;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
/*=== 2. Anchor Link ===*/
a {
  white-space: nowrap;
  font-size: 11px;
  color: #aaaaaa;
}
a:hover {
  white-space: nowrap;
  font-size: 11px;
  color: #333333;
  text-decoration: none;
}

.emoji {
  font-size: 22px;
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

/*=== 3. Text Outside the Box ===*/
.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}
.login-group-checkbox {
  padding: 5px 0;
}

/*=== 5. Login Button ===*/
.login-form-1 .login-button-invalid {
  background-size: 100% auto;
  position: absolute;
  font-size: 14px;
  right: -25px;
  top: 140px;
  color: #999999;
  padding: 6px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 2px solid #999999;
  border-radius: 25px;
  cursor: pointer;
  transition: all ease-in 100ms;  
}
.login-form-1 .login-button-invalid:hover{
  width: 155px;
}
.login-form-1 .login-button-invalid:hover .showafter{
  display: inline-block;
  display: inline-block;  
  animation: fadein 500ms;
  -moz-animation: fadein 500ms; /* Firefox */
  -webkit-animation: fadein 500ms; /* Safari and Chrome */
  -o-animation: fadein 500ms; /* Opera */      
}
.login-form-1 .login-button-invalid:hover .showbefore{
  display: none;
}

.login-form-1 .login-button {
  background-size: 100% auto;
  position: absolute;
  font-size: 12px;
  right: -25px;
  top: 140px;
  color: #5CDF8B;
  padding: 6px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 2px solid #5CDF8B;
  border-radius: 50%;
  transition: all ease-in-out 300ms;
}

.login-form-1 .login-button:hover {
  background-size: 100% auto;
  position: absolute;
  font-size: 16px;
  right: -30px;
  top: 135px;
  color: #5CDF8B;
  padding: 6px 0;
  width: 60px;
  height: 60px;
  margin-top: -25px;
  border: 4px solid #5CDF8B;
  border-radius: 50%;
  cursor: pointer;
  /*transform: rotate(720deg);*/
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}

/*=== 9. Misc ===*/
.logo {
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}
.logo-sml {
  font-size: 16px;
  color: #aaaaaa;
  font-weight: normal;
}
.container{
  max-width:96%; 
  margin:auto;
}

img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.username {
  color: #5CB6DF;
  text-align: right;  
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 0;
}
.time_date { 
  text-align: right;
  color: #747474;
  display: inline-block;
  font-size: 10px;
  margin: 0 0 0 0;
}

.mesgs {
  float: left;
  width: 100%;
}
.received_msg_img {
  margin-top: 4px;  
  display: inline-block;
  width: 6%;
  vertical-align: top;
}
.received_msg {
 display: inline-block;  
 max-width: 70%;
 text-align: left;
}
.received_msg p {
  text-align: left;  
  background: #e8e8e8 none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 10px;
}
.sent_msg_img {
  margin-top: 4px;
  float: right;
  display: inline-block;
  width: 6%;
  vertical-align: top;  
}
.sent_msg {
  text-align: right;
  vertical-align: top;
  float: right;
  max-width: 70%;
}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 10px;
}
.sent_msg p.emoji {
  font-size: 20px;

}
.incoming_msg{ 
  overflow: hidden; margin:10px 0px 10px 0px;
  overflow-wrap: break-word; 
  word-wrap: break-word;
}
.outgoing_msg{ 
  overflow: hidden; margin:10px 0px 10px 0px;
  overflow-wrap: break-word; 
  word-wrap: break-word;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  padding-right: 40px;
  width: 100%;
}
.write_msg {
  padding: 14px 0px 0px 0px;
  overflow: hidden;
  margin-right: 60px;
}
.write_msg::-ms-clear {
  display: none;
}
[contenteditable="true"].single-line::-ms-clear {
  display: none;
}
[contenteditable="true"].single-line {

        white-space: nowrap;
        overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;
    
}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
[contenteditable="true"]:empty::before {
  color: #aaa;
  content: attr(placeholder);
  caret-color: red;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}

.emoji_btn {
  background-color: rgba(255, 255, 255, 0);
  border: medium none;  
  border-radius: 50%;  
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 5px;
  height: 33px;
  width: 33px;    
  position: absolute;
  right: 33px;
  top: 11px;
}

.msg_send_btn {
  background: #aaaaaa none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
  transition: all ease-in-out 100ms;    
}
.msg_send_btn:hover {
  font-size: 14px;
  top: 8px;
  right: -3px;
  width: 39px;
  height: 39px;
  color: #ffffff;
  background: #a0e4ff;
}

.msg_send_btn_clicked {
  font-size: 1px;
  height:5px;
  width:5px;
  top: -33px;
  right: 33px;
  opacity: 0.0;
}
.messaging { 
  padding: 8px 0 0px 0;
}
.msg_history {
  height: 80%;
  overflow-y: auto;
}
.user_controls {
  float:right;
}
.logout_btn {
  overflow: hidden;
  background: #aaaaaa none repeat scroll 0 0;
  border: medium none;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height: 33px;
  right: 0;
  top: 11px;
  width: 33px;
  transition: all 100ms ease; 
}
.logout_btn:hover {
  color: #ffffff;
  background: #a0e4ff;
  width: 80px;
  transition: all 100ms ease;
  /*transform: rotate(720deg);*/
}
.logout_btn:hover .showafter{
  display: inline-block;  
  animation: fadein 300ms;
  -moz-animation: fadein 300ms; /* Firefox */
  -webkit-animation: fadein 300ms; /* Safari and Chrome */
  -o-animation: fadein 300ms; /* Opera */    
}
.logout_btn:hover .showbefore{
  display: none;
}
.showbefore {
  display: inline-block;
}
.showafter {
  display: none;
}

/* animation keyframes */
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity:1; }
}

/* LSX emoji shit */
.lsx-emojipicker-emoji span {
    display: inline-block;
    font-size: 24px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.lsx-emojipicker-appender {
    position: relative;
}
.lsx-emojipicker-container {
    background: #ffffff;
    border-radius: 5px;
    z-index: 99999999999;
    position: absolute;
    top: -270px;
    right: -40px;
    box-shadow: 0 12px 29px rgba(0,0,0,.6);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    display: none;
}
ul.lsx-emojipicker-tabs {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    text-align: left;
    background-color: #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #ddd;
}
ul.lsx-emojipicker-tabs li {
    display: inline-block;
    text-align: left;
    font-size: 15px;
    padding: 6px;
    cursor: pointer;
    opacity: 0.5;
}
ul.lsx-emojipicker-tabs li.selected,
ul.lsx-emojipicker-tabs li:HOVER {
    opacity: 1;
}
.lsx-emojipicker-tabs img.emoji {
    width: 22px;
    margin: 5px 10px;
    opacity: 0.5;
    cursor: pointer;
}
.lsx-emojipicker-tabs img.emoji:HOVER,
.lsx-emojipicker-tabs li.selected img.emoji {
    opacity: 1;
}
.lsx-emojipicker-emoji span img.emoji {
    width: 25px;
    margin: 5px 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}
.lsx-emojipicker-emoji.lsx-emoji-tab {
    width: 220px;
    padding: 8px;
    height: 200px;
    border-radius: 4px;
    overflow: auto;
}
.lsx-emojipicker-emoji span:HOVER,
.lsx-emojipicker-emoji span img.emoji:HOVER {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
ul.lsx-emojipicker-tabs li.selected {
    border-bottom: 2px solid #b5b5b5;
}
.lsx-emojipicker-container .loader {
    border: 6px solid #ececec;
    border-top: 6px solid #d8d8d8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.lsx-emojipicker-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.lsx-emojipicker-wrapper .spinner-container {
    position: absolute;
    background: #ffffffbd;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.lsx-emojipicker-container:after {
    position: absolute;
    display: block;
    content: '';
    clear: both;
    top: 100%;
    right: 35px;
    margin-bottom: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #eeeeee transparent transparent transparent;
}
.lsx-emojipicker-emoji.lsx-emoji-tab.hidden {
    display: none;
}